# Build output
**/bin/
**/obj/

# Environment files
frontend/.env
frontend/.env.local
frontend/.env.*
backend/src/MagicAgent.Api/Configurations/agents.json
backend/src/MagicAgent.Api/appsettings.*.json

# Local ASP.NET launch profiles
**/Properties/launchSettings.json

#Python Cache
backend-py/.mypy_cache
backend-py/.pytest_cache
**/__pycache__/

